.projects {
  font-family: "Poppins";
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.projects > h1 {
  margin-bottom: 40px;
}

.pname {
  margin: 23px;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 23px;
}
.project-box {
  width: 30vw;
  height: 60vh;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: transparent;
  border: 3px solid #0ab29f;
  background-color: #373639;
}
.project-box > img {
  position: absolute;
  width: 25%;
}
.project-box:hover {
  transition: 1s ease;
}

.project-box:hover .project-info {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  transition-delay: 2s;
}

.project-info {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding: 8px;
  display: none;
  backdrop-filter: blur(10px);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6));
}

.btns-3 {
  display: flex;
  gap: 15px;
  margin: 23px;
}

.btns-3 > a {
  font-size: 1.5rem;
  background-color: white;
  color: brown;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
}

/* Media Queries */
@media screen and (max-width: 1024px) {
  .project-box {
    /* width: ; */
    height: 50vh;
  }
}
@media screen and (max-width: 768px) {
  .project-box {
    width: 50vw;
    /* height: 50vh; */
  }
  .project-box > img {
    width: 45%;
  }
}
@media screen and (max-width: 578px) {
  .project-box {
    width: 75vw;
    /* height: 50vh; */
  }
  .project-box > img {
    width: 70%;
  }
}
@media screen and (max-width: 475px) {
  .project-box {
    width: 85vw;
    /* height: 50vh; */
  }
  .project-box > img {
    width: 70%;
  }
}
