.skills {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 23px;
}

.skills > h1 {
  font-size: 2.5rem;
}

@property --progress {
  syntax: "<number>";
  initial-value: 0;
  inherits: false;
}

.progress {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 34px;
}

.circular_progress {
  position: relative;
  height: 115px;
  width: 115px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: conic-gradient(white calc(var(--progress) * 3.6deg), #333 0deg);
}

.circular_progress > span {
  font-family: "QuickSand";
  font-size: 1.5rem;
  font-weight: 900;
  color: white;
  z-index: 1;
}
.circular_progress > p {
  font-family: "QuickSand";
  text-align: center;
  font-size: 0.6rem;
  font-weight: 500;
  color: white;
  z-index: 1;
}

.progress > .p1 {
  animation: progressAnimation1 2.8s forwards;
}
.progress > .p2 {
  /* background: conic-gradient(skyblue calc(var(--progress) * 3.6deg), #333 0deg); */
  animation: progressAnimation2 2.8s forwards;
}
.progress > .p3 {
  /* background: conic-gradient(yellow calc(var(--progress) * 3.6deg), #333 0deg); */
  animation: progressAnimation3 2.8s forwards;
}
.progress > .p4 {
  animation: progressAnimation4 2.8s forwards;
  /* background: conic-gradient(green calc(var(--progress) * 3.6deg), #333 0deg); */
}
.progress > .p5 {
  animation: progressAnimation5 2.8s forwards;
  /* background: conic-gradient(gold calc(var(--progress) * 3.6deg), #333 0deg); */
}
.progress > .p6 {
  /* background: conic-gradient(white calc(var(--progress) * 3.6deg), #333 0deg); */
  animation: progressAnimation6 2.8s forwards;
}

.circular_progress::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  width: 100px;
  background-color: #222;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

@keyframes progressAnimation1 {
  100% {
    --progress: 90;
  }
}
@keyframes progressAnimation2 {
  100% {
    --progress: 75;
  }
}
@keyframes progressAnimation3 {
  100% {
    --progress: 70;
  }
}
@keyframes progressAnimation4 {
  100% {
    --progress: 85;
  }
}
@keyframes progressAnimation5 {
  100% {
    --progress: 60;
  }
}
@keyframes progressAnimation6 {
  100% {
    --progress: 50;
  }
}

/* Media Queries */

@media screen and (max-width: 460px) {
  .circular_progress {
    height: 90px;
    width: 90px;
  }
  .circular_progress::before {
    height: 80px;
    width: 80px;
  }
  /* .circular_progress > span {
    font-size: 0.95rem;
  }
  .circular_progress > p {
    font-size: 0.55rem;
  } */
}
