.resume {
  display: flex;
  height: 63vh;
  font-family: "Poppins";
}

.heading {
  font-family: "Poppins";
  text-align: center;
}

.resume-btn {
  background-color: dodgerblue;
  padding: 7px;
  border-radius: 10px;
  border: 2px solid dodgerblue;
  transition: 1s ease-in-out;
}

.resume-btn:hover {
  background-color: transparent;
}

.resume-section1,
.resume-section2 {
  width: 50%;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.resume-section1 > .img > img {
  float: left;
  width: 80px;
}
.resume-section2 > .img > img {
  float: right;
  width: 80px;
}

.resume-info {
  margin: 47px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.resume-info > p {
  font-size: 28.4px;
}

.gold {
  margin-top: -15px;
  color: #ccc147;
}

.exp-info > .resume-info {
  text-align: end;
}

.down {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  margin: 10px 0px;
  background-color: #fff;
  color: #000;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .resume-info {
    margin: 30px;
  }

  .resume-info > p {
    font-size: 24.4px;
  }
}
@media screen and (max-width: 675px) {
  .resume {
    display: block;
  }

  .resume-section1,
  .resume-section2 {
    width: 100%;
  }

  .down {
    display: none;
  }

  .load {
    display: flex !important;
    align-content: center;
    justify-content: center;
  }
}

@media screen and (max-width: 350px) {
  .resume-info > p {
    font-size: 1.1em;
  }
  .resume-section1 > .img > img {
    width: 60px;
  }
  .resume-section2 > .img > img {
    width: 60px;
  }
}
