.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  height: 100%;
  width: 100%;
  padding: 3rem;
  gap: 1rem;
  margin-bottom: 10rem;
}

.wrapper {
  width: 70%;
  display: flex;
}

.textContainer,
.imgContainer {
  width: 50%;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.desc {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.desc p span {
  color: #fff;
}

.desc ul {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  gap: 1rem;
}

.desc ul li {
  padding: 0.3rem;
  margin: 0rem 1rem;
  color: white;
}
