.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  height: 100%;
  width: 100%;
  padding: 3rem;
  gap: 1rem;
}

.card {
  width: 100%;
  display: flex;
  gap: 1rem;
  border-radius: 10px;
  padding:1rem 0;
    transition: transform 0.2s;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.card .imgContainer img {
  width: 100%;
  object-fit: contain;
  filter: grayscale(100%);
  transition: all 0.2s;
  box-shadow: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.2),
    0 0.75rem 1.25rem rgba(0, 0, 0, 0.2);
  border-radius: 0.6rem;
  opacity: 0.8;
}

.card img:hover {
  filter: grayscale(0);
  transform: translateY(-0.25rem);
  opacity: 1;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.info p {
  background-color: #242424;
  padding: 1rem;
  text-align: right;
  border-radius: 0.3rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.info p:hover {
  transform: translateY(-0.25rem);
}

.info a {
  color: var(--primary-color);
  padding: 0.5rem;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.2s;
}

.info a:hover {
  color: white;
}

.techStack {
  display: flex;
  gap: 1rem;
}

.techStack li {
  list-style: none;
  cursor: pointer;
}

.tech:hover {
  color: white;
}

.links a svg {
  transition: transform 0.2s;
}

.links a svg:hover {
  transform: translateY(-0.25rem);
}

.container:nth-child(even) .card {
  flex-direction: row-reverse;
}

.container:nth-child(even) .info {
  align-items: flex-start;
}

.container:nth-child(even) .info p {
  text-align: left;
}

.container:nth-child(odd) .imgContainer img {
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2), 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
}

@media (max-width: 850px) {
  .container {
    margin-top: 2rem;
    padding: 1rem;
  }
  .card,
  .container:nth-child(even) .card {
    flex-direction: column;
    background-color: #242424;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2),
      0 1rem 1.5rem rgba(0, 0, 0, 0.2);
  }

  .container:nth-child(odd) .imgContainer img,
  .card .imgContainer img {
    box-shadow: none;
    filter: grayscale(0);
  }

  .info,
  .container:nth-child(even) .info {
    align-items: center;
    padding: 1rem;
    gap: 0;
  }
  .info p,
  .container:nth-child(even) .info p {
    text-align: center;
    background-color: none;
    box-shadow: none;
  }
  .techStack {
    justify-content: center;
    flex-wrap: wrap;
  }
  .links {
    justify-content: center;
    margin: 1rem 0;
  }
}

@media (max-width: 450px) {
  .container {
    padding: 0;
    margin: 1rem;
  }

  .info p {
    font-size: 0.9rem;
    padding: 0.5rem 0;
  }
  .techStack li {
    font-size: 0.8rem;
  }
}
