.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  height: 100%;
  width: 100%;
  padding: 3rem;
  gap: 1rem;
  margin-bottom: 10rem;
}

.home {
  width: 70%;
}

.texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.greetings {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.name {
  font-size: 3.5rem;
  font-weight: 600;
  color: white;
}

.role span {
  color: var(--primary-text);
}

.role {
  color: white;
}

.desc {
  font-size: 1rem;
  margin-top: 1rem;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  margin: 20px 0;
  width: fit-content;
  padding: 1rem;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  color: var(--primary-text);
}

.cta:hover {
  background-color: var(--border-color);
  color: var(--white-color);
  scale: 1.15;
  transition: all 0.4s ease-in-out;
}

@media (max-width: 1330px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 810px) {
  .container {
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0.5rem;
  }
}
