.contact-container {
  font-family: "poppins";
  width: 100%;
  height: 87vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 23px;
  width: 50%;
}

form > input,
textarea {
  padding: 10px;
  border: none;
  border-radius: 10px;
  outline: none;
}

input[type="submit"] {
  width: 30%;
  align-self: center;
  background-color: dodgerblue;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  form {
    width: 80%;
  }
}
