/* header {
  position: relative;
} */

.navbar {
  /* backdrop-filter: blur(3px); */
  /* border: 1px solid white; */
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px 4.5rem;
  /* width: 100%; */
  max-width: 1375px;
  margin: 0 auto;
}

a {
  color: white;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
}

.name > a {
  font-size: 1.5rem;
  font-weight: bold;
}

.links {
  display: flex;
  gap: 30px;
  font-family: "Varela Round";
}

.links > a {
  position: relative;
  padding: 4px;
}

.links > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2.75px;
  border-radius: 4px;
  background-color: white;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.links > a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.connect > a {
  background: linear-gradient(rgba(167, 120, 31, 0.9), rgba(167, 120, 31, 0.6));
  padding: 10px;
  border-radius: 20px;
}
.connect > a:hover {
  background: linear-gradient(rgba(167, 120, 31, 0.6), rgba(167, 120, 31, 0.9));
  padding: 10px;
  border-radius: 20px;
}
.bars {
  cursor: pointer;
  height: 16px;
  display: none;
}
/* .icon {
  display: none;
} */

/* Dropdown */
.dropdown {
  display: none;
  flex-direction: column;
  position: absolute;
  right: 2rem;
  top: 60px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  overflow: hidden;
  border-radius: 10px;
  height: 0;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown.open {
  height: 215px;
}

.dropdown > a {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown > .connect-btn {
  background: linear-gradient(rgba(167, 120, 31, 0.6), rgba(167, 120, 31, 0.9));
  padding: 10px;
  border-radius: 20px;
}

/* Media Queries */
@media screen and (max-width: 992px) {
  .navbar {
    justify-content: space-between;
  }
  .links,
  .connect {
    display: none;
  }
  /* .icon {
    display: block;
  } */
  .bars {
    display: inline-block;
  }
  .dropdown {
    display: flex;
  }
}

@media screen and (max-width: 578px) {
  .dropdown {
    left: 2rem;
    width: unset;
  }
}
