@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bakbak+One&family=Moon+Dance&family=Quicksand:wght@500&family=Righteous&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #330033;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");

  font-size: 2em;
  color: white;
}

.home {
  /* background-color: black; */
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home h1,
p {
  margin: 10px;
}

h1,
h2 {
  font-size: 3.5rem;
}

p {
  margin: 0 200px;
  text-align: center;
  font-size: 1.5rem;
}

.icons img {
  width: 40px;
  margin: 10px;
}

.icons img:hover {
  box-shadow: 0 4px 8px 0 lightblue, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 30%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav a {
  color: white;
  text-decoration: none;
  border-bottom: rgb(160, 152, 152) 3px solid;
  padding: 10px;
  font-family: "Quicksand", sans-serif;
  font-weight: 900;
  font-size: 1rem;
  background-color: transparent;
}

.active {
  color: olivedrab;
}

p {
  font-family: "Sofia sans";
}

.title {
  font-family: "Righteous", cursive;
}

/* About page */

.about-section {
  padding: 20px;
  margin-top: 12px;
}

.about-section h1 {
  text-align: center;
}

.intro {
  padding: 20px;
  text-align: center;
}

.about-section p {
  font-size: 1.5rem;
  margin: 10px;
}

.skills {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

.layout {
  width: 25vw;
  height: 30vh;
  border: 3px whitesmoke solid;
  background-color: transparent;
  backdrop-filter: blur(13px);
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  margin: 12px;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

.level {
  font-size: large;
  font-weight: bolder;
}

.box {
  padding: 12px 12px;
  border-radius: 100%;
  display: none;
}

.box-border {
  display: none;
}

span,
.quote {
  color: lightblue;
}

.layout:hover .box {
  margin: 8px;
  display: inline-block;
}
.layout:hover img {
  width: 70px;
}
img {
  width: 100px;
  margin: 10px;
}

/* Resume page */
.resume-layout {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resume {
  width: 50%;
}

button {
  padding: 10px;
  color: white;
  font-size: medium;
  cursor: pointer;
  background-color: dodgerblue;
  border: none;
  margin: 10px;
  border-radius: 10px;
}
button:hover {
  background-color: white;
  color: dodgerblue;
}

/* Projects */

h1,
h2 {
  text-align: center;
  margin-top: 50px;
}

.projects-layout {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  /* align-items: center;
  justify-content: center; */
  padding: 12px;
}

.left {
  float: left;
  border-radius: 20px;

  width: 750px;
}

h4 {
  padding: 12px;
  text-decoration: underline;
}

.project {
  height: 100vh;
  border-bottom: 3px solid slateblue;
  background-color: transparent;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 32px 50px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-shadow: 0 2px 4px 0 lightblue, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project:hover {
  box-shadow: 0 2px 6px 0 lightblue, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info {
  display: flex;
}

.lay {
  margin: 30px;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.resume:hover {
  width: 75%;
}

.contact-layout h1 {
  margin: 30px;
}

footer {
  background-color: #101010;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.5em;
  font-family: Quicksand;
  margin-bottom: 0;
}
.icon img {
  width: 25px;
}
.icon {
  display: flex;
}
/* Media Query for home page */

@media screen and (max-width: 1440px) {
  h1,
  h2 {
    font-size: 3rem;
  }
  p {
    font-size: 1.85rem;
    margin: 10px;
  }
}

@media screen and (max-width: 768px) {
  h1,
  h2 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1.3rem;
    margin: 10px;
  }
}

@media screen and (max-width: 650px) {
  h1,
  h2 {
    font-size: 1.5rem;
  }
  p {
    font-size: 0.85rem;
  }
  .link {
    font-size: 0.75rem;
  }

  .icons a img {
    width: 30px;
  }
}

@media screen and (width: 600px) and (width: 480px) {
  h1,
  h2 {
    font-size: 2rem;
  }
  p {
    font-size: 1.35rem;
    margin: 5px;
  }
  .link {
    font-size: 0.85rem;
  }

  .icons img {
    width: 30px;
  }
  .icon img {
    width: 20px;
  }
}

@media screen and (max-width: 565px) {
  h1,
  h2 {
    font-size: 1.75rem;
  }
  p {
    font-size: 0.85rem;
    margin: 5px;
  }
  .link {
    font-size: 0.75rem;
  }

  .icons a img {
    width: 30px;
  }
}
@media screen and (max-width: 400px) {
  h1,
  h2 {
    font-size: 1.35rem;
  }
  p {
    font-size: 0.85rem;
    margin: 5px;
  }
  .link {
    font-size: 0.65rem;
  }

  .icons a img {
    width: 30px;
  }
  .icon img {
    width: 15px;
  }
  footer {
    display: flex;
    font-size: 0.25em;
  }
}

@media screen and (max-width: 285px) {
  h1,
  h2 {
    font-size: 0.85rem;
  }
  .about-section p {
    font-size: 0.5rem;
  }
  .icons a img {
    width: 20px;
  }
  .link {
    font-size: 0.35rem;
  }
}

/* Media Query for intro */

@media screen and (max-width: 1440px) {
  h1,
  h2 {
    font-size: 3rem;
  }
  .about-section p {
    font-size: 1.85rem;
    margin: 10px;
  }
}

@media screen and (max-width: 768px) {
  h1,
  h2 {
    font-size: 2.5rem;
  }
  .about-section p {
    font-size: 1.3rem;
    margin: 10px;
  }
}

@media screen and (max-width: 650px) {
  h1,
  h2 {
    font-size: 1.5rem;
  }
  .about-section p {
    font-size: 0.85rem;
  }
}

@media screen and (width: 600px) and (width: 480px) {
  h1,
  h2 {
    font-size: 2rem;
  }
  .about-section p {
    font-size: 1.35rem;
    margin: 5px;
  }
}

@media screen and (max-width: 565px) {
  h1,
  h2 {
    font-size: 1.75rem;
  }
  .about-section p {
    font-size: 0.85rem;
    margin: 5px;
  }

  .icons a img {
    width: 30px;
  }
}
@media screen and (max-width: 400px) {
  .about-section h1,
  h2 {
    font-size: 1.5rem;
  }
  .about-section p {
    font-size: 0.95rem;
  }
  .layout {
    height: 100px;
    padding: 30px;
  }
  .layout img {
    width: 65px;
  }
  .layout:hover img {
    margin-bottom: -10px;
    width: 35px;
  }

  .box p {
    margin-top: 0;
    font-size: 12px;
  }
}

@media screen and (max-width: 285px) {
  h1,
  h2 {
    font-size: 0.85rem;
  }
  .about-section p {
    font-size: 0.5rem;
  }
  .layout {
    height: 100px;
    padding: 20px;
  }
  .layout img {
    width: 50px;
  }
}

/* Media Queries for Projects */
@media screen and (max-width: 768px) {
  h1,
  h2 {
    font-size: 2.5rem;
  }
  .info p {
    font-size: 1.25rem;
    margin: 10px;
  }
  .project img {
    width: 450px;
  }
}
@media screen and (max-width: 565px) {
  h1,
  h2 {
    font-size: 1.75rem;
  }
  .info p {
    font-size: 0.85rem;
    margin: 8px;
  }
  .project img {
    width: 280px;
  }
}
@media screen and (max-width: 400px) {
  h1,
  h2 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  .info p {
    font-size: 0.8rem;
    margin: 5px;
  }
  .project img {
    width: 200px;
  }
  .project {
    height: 70vh;
  }
}
