@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bakbak+One&family=Moon+Dance&family=Quicksand:wght@500&family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Arvo:wght@700&family=Bakbak+One&family=Bruno+Ace+SC&family=Cormorant+Garamond:wght@600;700&family=Josefin+Sans:wght@500&family=Moon+Dance&family=Poppins:wght@300&family=Quicksand:wght@500&family=Righteous&family=Secular+One&family=Tilt+Prism&family=Varela+Round&family=Work+Sans:wght@300;600&display=swap");

html::-webkit-scrollbar {
  width: 0.5vw;
}

html::-webkit-scrollbar-thumb {
  background-color: #eee;
  border-radius: 12px;
  height: 50px;
}

html::-webkit-scrollbar-track {
  background-color: transparent;
  margin: 23px;
}

body {
  background: linear-gradient(
    to top left,
    rgba(8, 27, 41, 0.7),
    rgba(8, 27, 41, 0.9)
  );
  height: 100vh;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
