@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bakbak+One&family=Moon+Dance&family=Quicksand:wght@500&family=Righteous&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: radial-gradient(
    circle 610px at 5.2% 51.6%,
    rgba(5, 8, 114, 1) 0%,
    rgba(7, 3, 53, 1) 97.5%
  );

  font-size: 2em;
  color: white;
}

.home {
  /* background-color: black; */
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home h1,
p {
  margin: 10px;
}

h1 {
  font-size: 3.5rem;
}

p {
  margin: 0 200px;
  text-align: center;
  font-size: 1.5rem;
}

.icons a img {
  width: 40px;
  margin: 10px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav a {
  color: white;
  text-decoration: none;
  border-bottom: rgb(160, 152, 152) 3px solid;
  padding: 10px;
  font-family: "Quicksand", sans-serif;
  font-weight: 900;
  font-size: 1rem;
  background-color: transparent;
}

.active {
  color: olivedrab;
}

p {
  font-family: "Sofia sans";
}

.title {
  font-family: "Righteous", cursive;
}

/* About page */

.about-section {
  padding: 20px;
  margin-top: 12px;
}

.about-section h1 {
  text-align: center;
}

.intro {
  padding: 20px;
  text-align: center;
}

.about-section p {
  font-size: 1.5rem;
  margin: 10px;
}

.skills {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

.layout {
  width: 25vw;
  height: 30vh;
  border: 3px whitesmoke solid;
  background-color: transparent;
  backdrop-filter: blur(13px);
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  margin: 12px;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

.level {
  font-size: large;
  font-weight: bolder;
}

.box {
  padding: 12px 12px;
  border-radius: 100%;
  display: none;
}

.box-border {
  display: none;
}

span,
.quote {
  color: lightblue;
}

.layout:hover .box {
  margin: 8px;
  display: inline-block;
}
.layout:hover img {
  width: 70px;
}
img {
  width: 100px;
  margin: 10px;
}

/* Resume page */
.resume-layout {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resume {
  width: 50%;
}

button {
  padding: 10px;
  color: white;
  font-size: medium;
  cursor: pointer;
  background-color: dodgerblue;
  border: none;
  margin: 10px;
  border-radius: 10px;
}
button:hover {
  background-color: white;
  color: dodgerblue;
}

/* Projects */

h1 {
  text-align: center;
  margin: 30px;
}

.projects-layout {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  /* align-items: center;
  justify-content: center; */
  padding: 12px;
}

.left {
  float: left;
  width: 750px;
}

.right {
  width: 750px;
  float: right;
}

.project {
  height: 90vh;
  border-bottom: 2px solid slateblue;
  background-color: transparent;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 22px 12px;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.project:hover {
  box-shadow: slateblue 20px 30px 25px;
  backdrop-filter: blur(12px);
}

.info {
  display: flex;
}

.lay {
  margin: 30px;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.resume:hover {
  width: 75%;
}

/* Media Query for home page */

@media screen and (max-width: 1440px) {
  h1 {
    font-size: 3rem;
  }
  p {
    font-size: 1.85rem;
    margin: 10px;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1.3rem;
    margin: 10px;
  }
}

@media screen and (max-width: 650px) {
  h1 {
    font-size: 1.5rem;
  }
  p {
    font-size: 0.85rem;
  }
  .link {
    font-size: 0.75rem;
  }

  .icons a img {
    width: 30px;
  }
}

@media screen and (width: 600px) and (width: 480px) {
  h1 {
    font-size: 2rem;
  }
  p {
    font-size: 1.35rem;
    margin: 5px;
  }
  .link {
    font-size: 0.85rem;
  }

  .icons a img {
    width: 30px;
  }
}

@media screen and (max-width: 565px) {
  h1 {
    font-size: 1.75rem;
  }
  p {
    font-size: 0.85rem;
    margin: 5px;
  }
  .link {
    font-size: 0.75rem;
  }

  .icons a img {
    width: 30px;
  }
}
@media screen and (max-width: 400px) {
  h1 {
    font-size: 1.35rem;
  }
  p {
    font-size: 0.85rem;
    margin: 5px;
  }
  .link {
    font-size: 0.65rem;
  }

  .icons a img {
    width: 30px;
  }
}

@media screen and (max-width: 285px) {
  h1 {
    font-size: 0.85rem;
  }
  .about-section p {
    font-size: 0.5rem;
  }
  .icons a img {
    width: 20px;
  }
  .link {
    font-size: 0.35rem;
  }
}

/* Media Query for intro */

@media screen and (max-width: 1440px) {
  h1 {
    font-size: 3rem;
  }
  .about-section p {
    font-size: 1.85rem;
    margin: 10px;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  .about-section p {
    font-size: 1.3rem;
    margin: 10px;
  }
}

@media screen and (max-width: 650px) {
  h1 {
    font-size: 1.5rem;
  }
  .about-section p {
    font-size: 0.85rem;
  }
}

@media screen and (width: 600px) and (width: 480px) {
  h1 {
    font-size: 2rem;
  }
  .about-section p {
    font-size: 1.35rem;
    margin: 5px;
  }
}

@media screen and (max-width: 565px) {
  h1 {
    font-size: 1.75rem;
  }
  .about-section p {
    font-size: 0.85rem;
    margin: 5px;
  }

  .icons a img {
    width: 30px;
  }
}
@media screen and (max-width: 400px) {
  .about-section h1 {
    font-size: 1.5rem;
  }
  .about-section p {
    font-size: 0.95rem;
  }
  .layout {
    height: 100px;
    padding: 30px;
  }
  .layout img {
    width: 65px;
  }
  .layout:hover img {
    margin-bottom: -10px;
    width: 35px;
  }

  .box p {
    margin-top: 0;
    font-size: 12px;
  }
}

@media screen and (max-width: 285px) {
  h1 {
    font-size: 0.85rem;
  }
  .about-section p {
    font-size: 0.5rem;
  }
  .layout {
    height: 100px;
    padding: 20px;
  }
  .layout img {
    width: 50px;
  }
}

/* Media Queries for Projects */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  .info p {
    font-size: 1.25rem;
    margin: 10px;
  }
  .project img {
    width: 450px;
  }
}
@media screen and (max-width: 565px) {
  h1 {
    font-size: 1.75rem;
  }
  .info p {
    font-size: 0.85rem;
    margin: 8px;
  }
  .project img {
    width: 280px;
  }
}
@media screen and (max-width: 400px) {
  h1 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  .info p {
    font-size: 0.8rem;
    margin: 5px;
  }
  .project img {
    width: 200px;
  }
  .project {
    height: 70vh;
  }
}
